.header__lang-link {
  font-style: normal;
  font-weight: normal;
  font-size: 1.5em;
  line-height: 1.75;
  margin-right: 18px;
  margin-top: 18px;
  margin-bottom: 6px;
  color: #FFFFFF;
  text-decoration: none;
}
.header__lang-link:last-of-type {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .header__lang-link {
    font-size: 1.1em;
    line-height: 1;
  }
}
