.photo-grid {
  max-width: 1184px;
  min-height: 671px;
  margin-bottom: 92px;
  margin-right: 48px;
  margin-left: 48px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(284px, 1fr));
  gap: 16px;
  justify-content: center;
}
