.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1;
  letter-spacing: 2px;
  color: #AAAAAA;
  margin-bottom: 12px;
}
@media screen and (max-width: 767px) {
  .place__url-heading {
    line-height: 1;
  }
}
