.footer__copyright {
  color: #FFFFFF;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: normal;
  font-size: 0.87em;
  line-height: 1;
}
@media screen and (max-width: 767px) {
  .footer__copyright {
    margin-bottom: 32px;
    font-size: 1em;
  }
}
