.intro {
  padding: 92px 442px 92px 148px;
  max-width: 1280px;
}
@media screen and (max-width: 1280px) {
  .intro {
    padding: 92px 286px 92px 48px;
  }
}

@media screen and (max-width: 1024px) {
  .intro {
    padding: 88px 24px;
  }
}

@media screen and (max-width: 768px) {
  .intro {
    padding: 64px 16px;
  }
}
