.place__link {
  max-width: 456px;
  font-style: normal;
  font-weight: normal;
  font-size: 1.2em;
  line-height: 1;
  text-decoration-line: underline;
  color: #FFFFFF;
}
.place__link:hover {
  opacity: 0.8;
  transition: opacity 0.3s ease;
}
