.place__url-heading {
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  line-height: 1.7;
  letter-spacing: 0.2em;
  color: #AAAAAA;
  margin-bottom: 12px;
  text-transform: uppercase;
  margin-top:0;
}
@media screen and (max-width: 767px) {
  .place__url-heading {
    line-height: 1;
  }
}
