.lead__caption {
  font-weight: normal;
  font-size: 0.6em;
  line-height: 1.4;
  color: #FFFFFF;
  text-transform: uppercase;
  margin: 0 826px 0 0;
  letter-spacing: 0.15em;
  width: 158px;
}
@media screen and (max-width: 1023px) {
  .lead__caption {
    margin-left: 24px;
  }
}

@media screen and (max-width: 767px) {
  .lead__caption {
    margin-left: 16px;
  }
}
