.footer {
  box-sizing:border-box;
  display: flex;
  justify-content: space-between;
  max-width: 1280px;
  padding: 0 48px;
  padding-top: 92px;
  padding-bottom: 24px;
}
@media screen and (max-width: 1279px) {
  .footer {
    padding-top: 0;
  }
}
@media screen and (max-width: 1023px) {
  .footer {
    padding-left: 24px;
    padding-right: 24px;
  }
}
@media screen and (max-width: 767px) {
  .footer {
    flex-direction: column;
    padding-left: 16px;
    padding-right: 16px;
  }
}
